/* Global settings */
body {
  background-color: #f1f3f4;
}

/* Font settings */

@font-face {
  font-family: "TimeNormal";
  src: url("fonts/TimeNormal.woff2") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Segment7-4Gml";
  src: url("fonts/Segment7-4Gml.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Calculator shape settings */

.calculator {
  margin: 40px auto;
  padding: 3rem;
  border-radius: 10px 10px 35px 35px;
  background-color: #262629;
  height: 700px;
  width: 340px;
  filter: drop-shadow(0px 7px 16px #b5b5b5);
  box-shadow: inset 0 0 10px #ffffffcf;
  display: flex;
  flex-direction: column;
}

/* Braun logo settings */

.calculator img {
  height: 28px;
  margin-bottom: 25px;
  margin-left: 7px;
}

/* Calculator display settings */

.display {
  background-color: #bcbeb0;
  height: 70%;
  width: 85%;
  border-radius: 10px;
  -webkit-box-shadow: inset -2px 3px 9px 0px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: inset -2px 3px 9px 0px rgba(0, 0, 0, 0.41);
  box-shadow: inset -2px 3px 9px 0px rgba(0, 0, 0, 0.41);
  font-family: "Segment7-4Gml";
  font-size: 32px;
  text-align: right;
  box-sizing: border-box;
  padding: 16px;
  letter-spacing: 0.4rem;
  color: #444445;
}

.display--off {
  background-color: #bcbeb0;
  height: 70%;
  width: 85%;
  border-radius: 10px;
  -webkit-box-shadow: inset -2px 3px 9px 0px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: inset -2px 3px 9px 0px rgba(0, 0, 0, 0.41);
  box-shadow: inset -2px 3px 9px 0px rgba(0, 0, 0, 0.41);
  font-family: "Segment7-4Gml";
  font-size: 32px;
  text-align: right;
  box-sizing: border-box;
  padding: 16px;
  letter-spacing: 0.4rem;
  color: #bcbeb0;
}

.outer-display {
  background-color: #898a86;
  height: 80px;
  width: 95%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: inset -2px 3px 2px 0px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: inset -2px 3px 2px 0px rgba(0, 0, 0, 0.53);
  box-shadow: inset -2px 3px 2px 0px rgba(0, 0, 0, 0.53);
}

.display-outer-panel-top {
  border-top: 13px solid #202025;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  height: 0;
  width: 93.4%;
  margin-left: 0.2%;
}

.display-outer-centre-strip-panel {
  display: flex;
  width: 100%;
}

.display-outer-panel-left {
  border-left: 11px solid #4c4a4c;
  border-top: 13px solid transparent;
  border-bottom: 20px solid transparent;
  height: 80px;
  width: 0;
  margin-top: -3.9%;
}

.display-outer-panel-right {
  border-right: 11px solid #4c4a4c;
  border-top: 13px solid transparent;
  border-bottom: 20px solid transparent;
  height: 80px;
  width: 0;
  margin-top: -3.9%;
}

.display-outer-panel-bottom {
  border-bottom: 20px solid #302f35;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  height: 0;
  margin-top: -5.7%;
  width: 93.4%;
  margin-left: 0.2%;
}

/* On/Off button settings */

.calculator__on-off-div {
  display: flex;
  gap: 25px;
  margin: 10px 0 20px 10px;
}

.calculator__on-div,
.calculator__off-div {
  display: flex;
  flex-direction: column;
}

.calculator__on,
.calculator__off {
  border: none;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  box-shadow: inset 5px 7px 9px -5px rgba(241, 240, 240, 0.8);
}

.calculator__on {
  background-color: #375f3e;
}

.calculator__off {
  background-color: #f04c36;
}

.calculator__on-small-circle,
.calculator__off-small-circle {
  border-radius: 50%;
  height: 3px;
  width: 3px;
  margin: 5px auto;
  background-color: #f1f3f4;
}

.calculator__on-large-circle,
.calculator__off-large-circle {
  border-radius: 50%;
  height: 7px;
  width: 7px;
  margin: 5px auto;
}

.calculator__on-large-circle {
  background-color: #f1f3f4;
}

.calculator__off-large-circle {
  border: white 1px solid;
}

/* number button settings */

.calculator__number-operator-div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto repeat(4, 1fr); /* First row 'auto' for the clear button, others equal */
  gap: 28px;
  grid-template-areas:
    "clear blank blank blank"
    "seven eight nine div"
    "six five four mult"
    "three two one minus"
    "zero point equals plus";
}

.calculator-grid__item {
  box-shadow: inset 5px 7px 9px -5px rgba(241, 240, 240, 0.8);
  border: none;
  padding: 18px;
  margin: 0px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  border-radius: 100%;
}

.calculator__number {
  background-color: #070707;
  color: white;
}

.calculator__equals {
  background-color: #c09a55;
  color: #2b1811;
}

.calculator__operator,
.calculator__point {
  background-color: #322218;
  color: white;
}

.calculator__clear {
  background-color: #2f372c;
  color: white;
}

.calculator__clear {
  grid-area: clear;
}
.calculator__number:nth-child(2) {
  grid-area: seven;
}
.calculator__number:nth-child(3) {
  grid-area: eight;
}
.calculator__number:nth-child(4) {
  grid-area: nine;
}
.calculator__operator:nth-child(5) {
  grid-area: div;
}
.calculator__number:nth-child(6) {
  grid-area: four;
}
.calculator__number:nth-child(7) {
  grid-area: five;
}
.calculator__number:nth-child(8) {
  grid-area: six;
}
.calculator__operator:nth-child(9) {
  grid-area: mult;
}
.calculator__number:nth-child(10) {
  grid-area: one;
}
.calculator__number:nth-child(11) {
  grid-area: two;
}
.calculator__number:nth-child(12) {
  grid-area: three;
}
.calculator__operator:nth-child(13) {
  grid-area: minus;
}
.calculator__number:nth-child(14) {
  grid-area: zero;
}
.calculator__point {
  grid-area: point;
}
.calculator__equals {
  grid-area: equals;
}
.calculator__operator:nth-child(17) {
  /* Adjust the child selector as per actual HTML */
  grid-area: plus;
}
